<!DOCTYPE html>
<head>
    <body>
             <div class="row">
         <div class="col-sm-12">
         {{>header}}
         </div>
     </div>
           <footer id="sticky-footer" class="py-4 bg-light text-black-50">
    <div class="container text-center">
      <small>Copyright &copy; {{>footer}}</small>
    </div>
  </footer>
    </body>
</head>