<!DOCTYPE html>
<head>
</head>
<body>
    {{>header}}
          <footer id="sticky-footer" class="py-4 bg-light text-black-50" style="flex-shrink: none;">
    <div class="container text-center">
      <small>Copyright &copy; {{>footer}}</small>
    </div>
  </footer>
</body>